# Ignore video, neuroimaging, and other large data files
algonauts_2025/
*.mkv
*.h5
*.nii
*.zip
*.tar.gz
*.DS_Store

# Ignore metadata from Windows
*.Zone.Identifier

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# ignore datasets 
data/pca_data/

# ignore environment files
*.pyc
.env/
.cere-env
venv/

multimodal_stimulus_fmri_prediction.egg-info/
brain-env/
.env/ 

#data/
*.egg-info/

# ignore other random files
AI4Good-MTL-Group-2 Depricated/